html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
  margin: 0 auto;
}

header {
  background-color: black;
}

header .container {
  display: flex;
}

header img {
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header h2 {
  font-size: 1rem;
  margin: 0.66rem 1rem;
}

.container {
  width: 960px;
  margin: 0 auto;
  /*display: flex;*/
}

#banner {
  background-image: url("moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;
}

#banner .container {
  display: flex;
}

#banner .box {
  background-color: black;
  margin-top: 9rem;
  font-weight: bold;
}

#banner h2 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

#banner h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: 20rem;
}

#navigation {
  background-color: firebrick;
}


a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0.75rem 0;
}

nav li {
  display: inline;
}

#products {
  background-color: white;
  margin: 3rem;
}

#products .container {
  display: flex;
  justify-content: space-between;
}

#products .box {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box h3 {
  background-color: black;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

#products .box img {
  height: 9rem;
  margin: 2rem auto;
  /*border: 1px dashed green;*/
}

#glasses {
  max-height: 45%;
  border: 1px dashed red;
}

#findus {
  background-color: white;
  margin-bottom: 4rem;
}

#findus .container {
  display: flex;
  justify-content: space-between;
}

#findus .box {
  width: 35%;
}

#findus h3 {
  text-align: left;
  padding: 1rem 2rem;
}

#findus p {
  color: black;
}

footer {
  background-color: black;
}
